In [1]:
# 1. Gerekli kütüphaneleri yükledim
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
from ydata_profiling import ProfileReport

c:\Users\naife\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
# 1. Veri setini okudum
İmamniyaz_DF = pd.read_csv('C://Users//naife//OneDrive//Masaüstü//Heart_Attack_Risk_Levels_Dataset_python_ders.csv')

In [55]:
# 2. Özet bilgileri aldım
print("=== Veri Seti Özeti ===")
print(İmamniyaz_DF.info())

=== Veri Seti Özeti ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1319 non-null   object
 1   Gender                    1319 non-null   object
 2   Heart rate                1319 non-null   int64
 3   Systolic blood pressure   1319 non-null   int64
 4   Diastolic blood pressure  1319 non-null   int64
 5   Blood sugar               1319 non-null   float64
 6   CK-MB                     1319 non-null   float64
 7   Troponin                  1319 non-null   float64
 8   Result                    1319 non-null   object
 9   Risk_Level                1319 non-null   object
 10  Recommendation;           1319 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 113.5+ KB
None

In [4]:
# 3. Pandas versiyonunu kotrol ettim
print("\n=== Pandas Versiyonu ===")
print(pd.__version__)

=== Pandas Versiyonu ===
2.1.4

In [5]:
# 4. Yüklü kütüphaneleri kontrol ettim
print("\n=== Yüklü Kütüphaneler ===")
!pip list

=== Yüklü Kütüphaneler ===
Package                      Version
---------------------------- -----------
absl-py                      2.2.2
aiohappyeyeballs             2.6.1
aiohttp                      3.11.18
aiosignal                    1.3.2
annotated-types              0.7.0
asttokens                    3.0.0
astunparse                   1.6.3
async-timeout                5.0.1
attrs                        25.3.0
cachetools                   5.5.2
certifi                      2025.4.26
charset-normalizer           3.4.1
click                        8.2.0
colorama                     0.4.6
comm                         0.2.2
contourpy                    1.3.2
cycler                       0.12.1
dacite                       1.9.2
datasets                     3.6.0
debugpy                      1.8.14
decorator                    5.2.1
dill                         0.3.8
et_xmlfile                   2.0.0
evaluate                     0.4.3
exceptiongroup               1.2.2
executing                    2.2.0
filelock                     3.18.0
flatbuffers                  25.2.10
fonttools                    4.57.0
frozenlist                   1.6.0
fsspec                       2025.3.0
gast                         0.4.0
google-auth                  2.39.0
google-auth-oauthlib         1.0.0
google-pasta                 0.2.0
grpcio                       1.71.0
h5py                         3.13.0
htmlmin                      0.1.12
huggingface-hub              0.31.1
idna                         3.10
ImageHash                    4.3.1
ipykernel                    6.29.5
ipython                      8.36.0
jedi                         0.19.2
Jinja2                       3.1.6
joblib                       1.1.1
jupyter_client               8.6.3
jupyter_core                 5.7.2
keras                        2.13.1
kiwisolver                   1.4.8
libclang                     18.1.1
llvmlite                     0.41.1
Markdown                     3.8
MarkupSafe                   2.1.5
matplotlib                   3.7.3
matplotlib-inline            0.1.7
missingno                    0.5.2
mpmath                       1.3.0
multidict                    6.4.3
multimethod                  1.12
multipledispatch             1.0.0
multiprocess                 0.70.16
natsort                      8.4.0
nest-asyncio                 1.6.0
networkx                     3.4.2
nltk                         3.9.1
numba                        0.58.1
numpy                        1.25.2
oauthlib                     3.2.2
opencv-python                4.11.0.86
openpyxl                     3.1.5
opt_einsum                   3.4.0
packaging                    25.0
pandas                       2.1.4
pandas_flavor                0.7.0
pandas-profiling             3.2.0
parso                        0.8.4
patsy                        1.0.1
phik                         0.12.4
pillow                       11.2.1
pip                          25.1
platformdirs                 4.3.7
prompt_toolkit               3.0.51
propcache                    0.3.1
protobuf                     4.25.7
psutil                       7.0.0
pure_eval                    0.2.3
pyarrow                      20.0.0
pyasn1                       0.6.1
pyasn1_modules               0.4.2
pydantic                     2.11.3
pydantic_core                2.33.1
Pygments                     2.19.1
pyjanitor                    0.31.0
pyparsing                    3.2.3
python-dateutil              2.9.0.post0
pytz                         2025.2
PyWavelets                   1.8.0
pywin32                      310
PyYAML                       6.0.2
pyzmq                        26.4.0
regex                        2024.11.6
requests                     2.32.3
requests-oauthlib            2.0.0
rouge-score                  0.1.2
rsa                          4.9.1
safetensors                  0.5.3
scikit-learn                 1.3.2
scipy                        1.11.4
seaborn                      0.12.2
sentencepiece                0.2.0
setuptools                   65.5.0
six                          1.17.0
stack-data                   0.6.3
statsmodels                  0.14.4
sympy                        1.14.0
tangled-up-in-unicode        0.2.0
tensorboard                  2.13.0
tensorboard-data-server      0.7.2
tensorflow                   2.13.0
tensorflow-estimator         2.13.0
tensorflow-intel             2.13.0
tensorflow-io-gcs-filesystem 0.31.0
termcolor                    3.0.1
threadpoolctl                3.6.0
tokenizers                   0.21.1
torch                        2.7.0
tornado                      6.4.2
tqdm                         4.67.1
traitlets                    5.14.3
transformers                 4.51.3
typeguard                    4.4.2
typing_extensions            4.13.2
typing-inspection            0.4.0
tzdata                       2025.2
urllib3                      2.4.0
visions                      0.7.4
wcwidth                      0.2.13
Werkzeug                     3.1.3
wheel                        0.45.1
wordcloud                    1.9.4
wrapt                        1.17.2
xarray                       2025.4.0
xxhash                       3.5.0
yarl                         1.20.0
ydata-profiling              4.6.4

In [6]:
# 5. Python versiyonunu kontrol ettim
print("\n=== Python Versiyonu ===")
print(sys.version)

=== Python Versiyonu ===
3.10.9 (tags/v3.10.9:1dd9be6, Dec  6 2022, 20:01:21) [MSC v.1934 64 bit (AMD64)]

In [7]:
# 6. İlk 5 veriyi aldım
print("\n=== İlk 5 Kayıt ===")
print(İmamniyaz_DF.head())

=== İlk 5 Kayıt ===
  Age Gender  Heart rate  Systolic blood pressure  Diastolic blood pressure  \
0  63      1          66                      160                        83
1  20      1          94                       98                        46
2  56      1          64                      160                        77
3  66      1          70                      120                        55
4  54      1          64                      112                        65

   Blood sugar  CK-MB  Troponin    Result Risk_Level  \
0        160.0   1.80     0.012  negative   Moderate
1        296.0   6.75     1.060  positive       High
2        270.0   1.99     0.003  negative   Moderate
3        270.0  13.87     0.122  positive       High
4        300.0   1.08     0.003  negative   Moderate

                       Recommendation;
0  Monitor closely and consult doctor;
1         Immediate medical attention;
2  Monitor closely and consult doctor;
3         Immediate medical attention;
4  Monitor closely and consult doctor;

In [8]:
# 7. Son 5 veriyi aldım
print("\n=== Son 5 Kayıt ===")
print(İmamniyaz_DF.tail())

=== Son 5 Kayıt ===
     Age Gender  Heart rate  Systolic blood pressure  \
1314  44      1          94                      122
1315  66      1          84                      125
1316  45      1          85                      168
1317  54      1          58                      117
1318  51      1          94                      157

      Diastolic blood pressure  Blood sugar  CK-MB  Troponin    Result  \
1314                        67        204.0   1.63     0.006  negative
1315                        55        149.0   1.33     0.172  positive
1316                       104         96.0   1.24     4.250  positive
1317                        68        443.0   5.80     0.359  positive
1318                        79        134.0  50.89     1.770  positive

     Risk_Level                      Recommendation;
1314   Moderate  Monitor closely and consult doctor;
1315       High         Immediate medical attention;
1316       High         Immediate medical attention;
1317       High         Immediate medical attention;
1318       High         Immediate medical attention;

In [9]:
# 8. Tüm verileri yazdırdım
print("\n=== TÜM VERİLER (İLK 20) ===")
display(İmamniyaz_DF.head(20))

=== TÜM VERİLER (İLK 20) ===

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result,Risk_Level,Recommendation;
0,63,1,66,160,83,160.0,1.800,0.012,negative,Moderate,Monitor closely and consult doctor;
1,20,1,94,98,46,296.0,6.750,1.060,positive,High,Immediate medical attention;
2,56,1,64,160,77,270.0,1.990,0.003,negative,Moderate,Monitor closely and consult doctor;
3,66,1,70,120,55,270.0,13.870,0.122,positive,High,Immediate medical attention;
4,54,1,64,112,65,300.0,1.080,0.003,negative,Moderate,Monitor closely and consult doctor;
5,52,0,61,112,58,87.0,1.830,0.004,negative,Low,Maintain healthy lifestyle;
6,38,0,40,179,68,102.0,0.710,0.003,negative,Moderate,Monitor closely and consult doctor;
7,,1,60,214,82,87.0,300.000,2.370,positive,High,Immediate medical attention;
8,49,0,60,154,81,135.0,2.350,0.004,negative,Moderate,Monitor closely and consult doctor;
9,65,1,61,160,95,100.0,2.840,0.011,negative,Moderate,Monitor closely and consult doctor;
10,45,0,60,166,90,102.0,2.390,0.006,negative,Moderate,Monitor closely and consult doctor;
11,63,0,60,150,83,198.0,2.390,0.013,negative,Moderate,Monitor closely and consult doctor;
12,64,1,60,199,99,92.0,3.430,5.370,positive,High,Immediate medical attention;
13,54,0,94,122,67,97.0,1.420,0.012,negative,Low,Maintain healthy lifestyle;
14,47,1,76,120,70,319.0,2.570,0.003,negative,Moderate,Monitor closely and consult doctor;
15,61,1,81,118,66,134.0,1.490,0.017,positive,High,Immediate medical attention;
16,86,0,73,114,68,87.0,1.110,0.776,positive,High,Immediate medical attention;
17,45,0,70,100,68,96.0,0.606,0.004,negative,Low,Maintain healthy lifestyle;
18,37,0,72,107,86,274.0,2.890,0.003,negative,Moderate,Monitor closely and consult doctor;
19,45,1,60,109,65,89.0,1.600,0.020,positive,High,Immediate medical attention;

In [10]:
# 9. Nümerik alanları kontrol ettim
print("\n=== NÜMERİK ALANLAR ===")
display(İmamniyaz_DF.select_dtypes(include=['int64','float64']).columns.tolist())

=== NÜMERİK ALANLAR ===

['Heart rate',
 'Systolic blood pressure',
 'Diastolic blood pressure',
 'Blood sugar',
 'CK-MB',
 'Troponin']

In [11]:
# 10. Nümerik olmayan alanların frekansını kontrol etiim
print("\n=== KATEGORİK ALAN FREKANSLARI ===")
for col in İmamniyaz_DF.select_dtypes(exclude=['int64','float64']):
    print(f"\n{col}:\n{İmamniyaz_DF[col].value_counts()}")

=== KATEGORİK ALAN FREKANSLARI ===

Age:
Age
60     106
70      73
50      68
63      64
65      63
      ...
91       1
88       1
100      1
14       1
84       1
Name: count, Length: 76, dtype: int64

Gender:
Gender
1    869
0    448
       2
Name: count, dtype: int64

Result:
Result
positive    809
negative    508
              2
Name: count, dtype: int64

Risk_Level:
Risk_Level
High        812
Low         274
Moderate    232
              1
Name: count, dtype: int64

Recommendation;:
Recommendation;
Immediate medical attention;           811
Maintain healthy lifestyle;            275
Monitor closely and consult doctor;    232
Immediate medical attention;0            1
Name: count, dtype: int64

In [12]:
#from pyjanitor import clean_names
#import sweetviz as sv
#from bokeh.plotting import figure, show
#from dataprep.eda import create_report
#import polars as pl
#from pyspark.sql import SparkSession
#import dask.dataframe as dd
#from datacleaner import autoclean
from tensorflow import keras

In [13]:
# 11. Sistem versiyonunu kontrol ettim
import platform
print("\n=== SİSTEM BİLGİSİ ===")
print(f"System: {platform.system()}")
print(f"Release: {platform.release()}")

=== SİSTEM BİLGİSİ ===
System: Windows
Release: 10

In [ ]:
# 12. Toplam veri kayıt sayısını kontrol etiim
print("\n=== TOPLAM KAYIT SAYISI ===")
print(len(İmamniyaz_DF))

=== TOPLAM KAYIT SAYISI ===
1319

In [15]:
# 13. Sütun sayısını kontrol ettim
print("\n=== SÜTUN SAYISI ===")
print(len(İmamniyaz_DF.columns))

=== SÜTUN SAYISI ===
11

In [16]:
# 14. Sütun isimlerini öğredndim
print("\n=== SÜTUN İSİMLERİ ===")
print(İmamniyaz_DF.columns.tolist())

=== SÜTUN İSİMLERİ ===
['Age', 'Gender', 'Heart rate', 'Systolic blood pressure', 'Diastolic blood pressure', 'Blood sugar', 'CK-MB', 'Troponin', 'Result', 'Risk_Level', 'Recommendation;']

In [57]:
# 15. Eksik veri var mı?
print("\n=== EKSİK VERİLER ===")
display(İmamniyaz_DF.isnull().sum())

=== EKSİK VERİLER ===

Age                         0
Gender                      0
Heart rate                  0
Systolic blood pressure     0
Diastolic blood pressure    0
Blood sugar                 0
CK-MB                       0
Troponin                    0
Result                      0
Risk_Level                  0
Recommendation;             0
dtype: int64

In [59]:
# Eksik yoktu siliyorum!
import numpy as np

İmamniyaz_DF.loc[0, "age"] = np.nan
İmamniyaz_DF.loc[3, "blood_sugar"] = np.nan
İmamniyaz_DF.loc[56, "age"] = np.nan
İmamniyaz_DF.loc[78, "blood_sugar"] = np.nan
İmamniyaz_DF.loc[1, "ck_mb"] = np.nan
İmamniyaz_DF.loc[2, "troponin"] = np.nan
İmamniyaz_DF.loc[4, "heart_rate"] = np.nan
İmamniyaz_DF.loc[5, "recommendation"] = np.nan

In [62]:
# Eğer hem "Age" hem "age" varsa, orijinal büyük harfli sütunları silelim
İmamniyaz_DF.drop(columns=["Age", "Gender", "Heart rate", "Systolic blood pressure", 
                           "Diastolic blood pressure", "Blood sugar", "CK-MB", 
                           "Troponin", "Result", "Risk_Level", "Recommendation;"], inplace=True)

In [63]:
print(İmamniyaz_DF.isnull().sum())
print("Toplam eksik veri sayısı:", İmamniyaz_DF.isnull().sum().sum())

age               1319
blood_sugar       1319
ck_mb             1319
troponin          1319
heart_rate        1319
recommendation    1319
dtype: int64
Toplam eksik veri sayısı: 7914

In [60]:
# 16. Sütun bazında eksik veri sayısı
display(İmamniyaz_DF.isna().sum())

Age                            0
Gender                         0
Heart rate                     0
Systolic blood pressure        0
Diastolic blood pressure       0
Blood sugar                    0
CK-MB                          0
Troponin                       0
Result                         0
Risk_Level                     0
Recommendation;                0
age                         1319
blood_sugar                 1319
ck_mb                       1319
troponin                    1319
heart_rate                  1319
recommendation              1319
dtype: int64

In [61]:
# 17. Toplam eksik veri sayısı?
print("\n=== TOPLAM EKSİK VERİ SAYISI ===")
print(İmamniyaz_DF.isnull().sum().sum())

=== TOPLAM EKSİK VERİ SAYISI ===
7914

In [20]:

# 18. Eksik verileri 0 ile doldurdum (yaş)
İmamniyaz_DF.fillna(0, inplace=True)

In [21]:
# 19. Bazı eksik verileri sildim
İmamniyaz_DF.dropna(inplace=True)

In [22]:

# 20. Tekrarlı veri var mı?
print("\n=== TEKRARLI KAYIT SAYISI ===")
print(İmamniyaz_DF.duplicated().sum())

=== TEKRARLI KAYIT SAYISI ===
0

In [23]:
# 21. YDATA PROFILING RAPORU
profile = ProfileReport(İmamniyaz_DF, title="SOYAD Profiling Report")
profile.to_file("imamniyaz_rapor.html")

Summarize dataset:  72%|███████▏  | 13/18 [00:01<00:01,  4.44it/s, Calculate auto correlation]              c:\Users\naife\AppData\Local\Programs\Python\Python310\lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: ' '')
  warnings.warn(
Summarize dataset: 100%|██████████| 56/56 [00:07<00:00,  7.74it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:05<00:00,  5.07s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.51s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 129.67it/s]

In [24]:
# 22. CSV OLARAK KAYDETME VE KARŞILAŞTIRMA
İmamniyaz_DF.to_csv("imamniyaz_Heart_Attack.csv", index=False)
original = pd.read_csv('C://Users//naife//OneDrive//Masaüstü//Heart_Attack_Risk_Levels_Dataset.csv')
print("\n=== DOSYALAR AYNİ Mİ? ===")
print(original.equals(İmamniyaz_DF))

=== DOSYALAR AYNİ Mİ? ===
True

In [25]:
# 23. SÜTUN VERİ TİPİ SORGULAMA
print("\n=== 'Age' SÜTUNU VE VERİ TİPİ ===")
display(İmamniyaz_DF['Age'])
print(f"Veri tipi: {İmamniyaz_DF['Age'].dtype}")

=== 'Age' SÜTUNU VE VERİ TİPİ ===

0       63
1       20
2       56
3       66
4       54
        ..
1314    44
1315    66
1316    45
1317    54
1318    51
Name: Age, Length: 1319, dtype: object

Veri tipi: object

In [26]:
# 24. SÜTUN CLASS'I
print("\n=== 'Age' SÜTUN CLASS'I ===")
print(type(İmamniyaz_DF['Age']))

=== 'Age' SÜTUN CLASS'I ===
<class 'pandas.core.series.Series'>

In [27]:
# 25. LOC İLE SORGULAMA
print("\n=== LOC İLE SORGULAMA (İlk 3 kayıt) ===")
display(İmamniyaz_DF.loc[0:2])

=== LOC İLE SORGULAMA (İlk 3 kayıt) ===

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result,Risk_Level,Recommendation;
0,63,1,66,160,83,160.0,1.80,0.012,negative,Moderate,Monitor closely and consult doctor;
1,20,1,94,98,46,296.0,6.75,1.060,positive,High,Immediate medical attention;
2,56,1,64,160,77,270.0,1.99,0.003,negative,Moderate,Monitor closely and consult doctor;

In [28]:
# 26. ILOC İLE SORGULAMA
print("\n=== ILOC İLE SORGULAMA (İlk 3 kayıt) ===")
display(İmamniyaz_DF.iloc[0:3])

=== ILOC İLE SORGULAMA (İlk 3 kayıt) ===

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result,Risk_Level,Recommendation;
0,63,1,66,160,83,160.0,1.80,0.012,negative,Moderate,Monitor closely and consult doctor;
1,20,1,94,98,46,296.0,6.75,1.060,positive,High,Immediate medical attention;
2,56,1,64,160,77,270.0,1.99,0.003,negative,Moderate,Monitor closely and consult doctor;

In [29]:
# 27. LOC İLE SATIR/SÜTUN SEÇİMİ
print("\n=== LOC İLE SATIR/SÜTUN SEÇİMİ ===")
display(İmamniyaz_DF.loc[0:2, ['Age', 'Gender']])

=== LOC İLE SATIR/SÜTUN SEÇİMİ ===

  Age Gender
0  63      1
1  20      1
2  56      1

In [30]:
# LOC ile satır ve sütun dilimleme işlemini yazptım
sliced_df = İmamniyaz_DF.loc[0:4, 'Gender':'Blood sugar']
display(sliced_df)

,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar
0,1,66,160,83,160.0
1,1,94,98,46,296.0
2,1,64,160,77,270.0
3,1,70,120,55,270.0
4,1,64,112,65,300.0

In [31]:
# Merak ettim 
İmamniyaz_DF.loc[0:4, ['Age', 'Risk_Level']]

  Age Risk_Level
0  63   Moderate
1  20       High
2  56   Moderate
3  66       High
4  54   Moderate

In [32]:
# 29. FİLTRELEME
print("\n=== YAŞI 30'DAN BÜYÜK OLANLAR ===")
İmamniyaz_DF["Age"] = pd.to_numeric(İmamniyaz_DF["Age"], errors="coerce")
display(İmamniyaz_DF[İmamniyaz_DF["Age"] > 30])

=== YAŞI 30'DAN BÜYÜK OLANLAR ===

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result,Risk_Level,Recommendation;
0,63.0,1,66,160,83,160.0,1.80,0.012,negative,Moderate,Monitor closely and consult doctor;
2,56.0,1,64,160,77,270.0,1.99,0.003,negative,Moderate,Monitor closely and consult doctor;
3,66.0,1,70,120,55,270.0,13.87,0.122,positive,High,Immediate medical attention;
4,54.0,1,64,112,65,300.0,1.08,0.003,negative,Moderate,Monitor closely and consult doctor;
5,52.0,0,61,112,58,87.0,1.83,0.004,negative,Low,Maintain healthy lifestyle;
...,...,...,...,...,...,...,...,...,...,...,...
1314,44.0,1,94,122,67,204.0,1.63,0.006,negative,Moderate,Monitor closely and consult doctor;
1315,66.0,1,84,125,55,149.0,1.33,0.172,positive,High,Immediate medical attention;
1316,45.0,1,85,168,104,96.0,1.24,4.250,positive,High,Immediate medical attention;
1317,54.0,1,58,117,68,443.0,5.80,0.359,positive,High,Immediate medical attention;
1318,51.0,1,94,157,79,134.0,50.89,1.770,positive,High,Immediate medical attention;

In [33]:
# 30. İNDEKS SIFIRLAMA
İmamniyaz_DF.reset_index(drop=True, inplace=True)

In [34]:
# 31. YENİ SÜTUN EKLEME
İmamniyaz_DF['Yeni_Sutun'] = İmamniyaz_DF['Age'] * 2

In [35]:
# 32. GEÇİCİ SÜTUN SİLME
temp_df = İmamniyaz_DF.drop('Yeni_Sutun', axis=1)

In [36]:
# 33. KALICI SÜTUN SİLME
İmamniyaz_DF.drop('Yeni_Sutun', axis=1, inplace=True)

In [37]:
# 34. GENEL BİLGİ
print("\n=== GENEL BİLGİ ===")
display(İmamniyaz_DF.describe(include='all'))

=== GENEL BİLGİ ===

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result,Risk_Level,Recommendation;
count,1316.000000,1319,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319,1319,1319
unique,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,3,4,4
top,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,positive,High,Immediate medical attention;
freq,NaN,869,NaN,NaN,NaN,NaN,NaN,NaN,809,812,811
mean,56.185410,NaN,78.336619,127.170584,72.269143,146.634344,15.274306,0.360942,NaN,NaN,NaN
std,13.649907,NaN,51.630270,26.122720,14.033924,74.923045,46.327083,1.154568,NaN,NaN,NaN
min,14.000000,NaN,20.000000,42.000000,38.000000,35.000000,0.321000,0.001000,NaN,NaN,NaN
25%,47.000000,NaN,64.000000,110.000000,62.000000,98.000000,1.655000,0.006000,NaN,NaN,NaN
50%,58.000000,NaN,74.000000,124.000000,72.000000,116.000000,2.850000,0.014000,NaN,NaN,NaN
75%,65.000000,NaN,85.000000,143.000000,81.000000,169.500000,5.805000,0.085500,NaN,NaN,NaN
max,103.000000,NaN,1111.000000,223.000000,154.000000,541.000000,300.000000,10.300000,NaN,NaN,NaN

In [38]:
# 35. PYJANITOR İLE TEMİZLİK
# Pyjanitor ile sütun isimlerini temizle
import janitor

İmamniyaz_DF = İmamniyaz_DF.clean_names()

In [39]:
# 36. PANDAS VERSİYONU
print("\n=== PANDAS VERSİYONU ===")
print(pd.__version__)

=== PANDAS VERSİYONU ===
2.1.4

In [41]:
import matplotlib
import matplotlib.pyplot as plt

print("Matplotlib sürümü:", matplotlib.__version__)

Matplotlib sürümü: 3.7.3

In [43]:
# 38. TEMEL İSTATİSTİKLER
print("\n=== TEMEL İSTATİSTİKLER ===")
display(İmamniyaz_DF.select_dtypes(include='number').agg(['min', 'max', 'mean', 'count']))

=== TEMEL İSTATİSTİKLER ===

,age,heart_rate,systolic_blood_pressure,diastolic_blood_pressure,blood_sugar,ck_mb,troponin
min,14.00000,20.000000,42.000000,38.000000,35.000000,0.321000,0.001000
max,103.00000,1111.000000,223.000000,154.000000,541.000000,300.000000,10.300000
mean,56.18541,78.336619,127.170584,72.269143,146.634344,15.274306,0.360942
count,1316.00000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000

In [50]:
# 39. TEK İNDEKSLİ PIVOT TABLE
pd.pivot_table(İmamniyaz_DF, index='gender', values='age', aggfunc='mean')

              age
gender
        56.000000
0       57.986607
1       55.254042

In [51]:
# 40. ÇOK İNDEKSLİ PIVOT TABLE
print("\n=== PIVOT TABLE (ÇOK İNDEKS) ===")
pd.pivot_table(İmamniyaz_DF, index=['gender', 'result'], values='ck_mb', aggfunc='mean')

=== PIVOT TABLE (ÇOK İNDEKS) ===

                     ck_mb
gender result
       positive   0.771500
0      negative   2.399995
       positive  23.841016
1                 1.540000
       negative   2.660853
       positive  23.134182

In [53]:
# 41. PIVOT TABLE'DA TOPLAM
print("\n=== PIVOT TABLE (TOPLAM) ===")
numeric_cols = İmamniyaz_DF.select_dtypes(include='number').columns
pd.pivot_table(İmamniyaz_DF, index='gender', values=numeric_cols, aggfunc=np.sum)

=== PIVOT TABLE (TOPLAM) ===

C:\Users\naife\AppData\Local\Temp\ipykernel_1076\2285141326.py:4: FutureWarning: The provided callable <function sum at 0x000001A8A02915A0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.pivot_table(İmamniyaz_DF, index='gender', values=numeric_cols, aggfunc=np.sum)

,age,blood_sugar,ck_mb,diastolic_blood_pressure,heart_rate,systolic_blood_pressure,troponin
gender,,,,,,,
,112.0,181.0,1.543,146,185,223,3.336
0,25978.0,65449.7,6349.689,32470,35955,56811,113.688
1,47850.0,127780.0,13795.577,62707,67186,110704,359.059

In [ ]:
# 42-46. FARKLI FORMATLARDA KAYDETME
İmamniyaz_DF.to_csv("SOYAD_titanic.csv", index=False)
İmamniyaz_DF.to_excel("SOYAD_titanic.xlsx", index=False)
İmamniyaz_DF.to_html("SOYAD_titanic.html")
İmamniyaz_DF.to_json("SOYAD_titanic.json")
İmamniyaz_DF.to_string("SOYAD_titanic.txt")

In [ ]:
# 47-50. SIRALAMA İŞLEMLERİ
print("\n=== YAŞA GÖRE KÜÇÜKTEN BÜYÜĞE ===")
display(İmamniyaz_DF.sort_values('Age'))

print("\n=== ÜCRETE GÖRE BÜYÜKTEN KÜÇÜĞE ===")
display(İmamniyaz_DF.sort_values('Fare', ascending=False))

In [ ]:
# 51. RASTGELE 5 KAYIT
print("\n=== RASTGELE 5 KAYIT ===")
display(İmamniyaz_DF.sample(5))

In [ ]:
# 52. Veri seti ile ilgili olarak Scatter Plot grafiği çizer.
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

df = pd.read_csv("veri.csv")  # Örnek CSV dosyası
plt.figure(figsize=(8, 5))
sns.scatterplot(x='age', y='chol', data=df)
plt.title('Yaş ve Kolesterol Scatter Plot')
plt.show()

In [ ]:
# 53. Histogram grafiği çizer.
plt.figure(figsize=(8, 5))
plt.hist(df['age'], bins=20, color='skyblue', edgecolor='black')
plt.title('Yaş Histogramı')
plt.xlabel('Yaş')
plt.ylabel('Frekans')
plt.show()

In [ ]:
# 54. Bar chart grafiği çizer.
df['sex'].value_counts().plot(kind='bar', color='coral')
plt.title('Cinsiyet Dağılımı')
plt.xlabel('Cinsiyet')
plt.ylabel('Adet')
plt.show()

In [ ]:
# 55. Pie chart grafiği çizer.
df['sex'].value_counts().plot(kind='pie', autopct='%1.1f%%', startangle=90)
plt.title('Cinsiyet Dağılımı (Pasta Grafiği)')
plt.ylabel('')  # Y ekseni yazısını gizle
plt.show()

In [ ]:
# 56. Korelasyon matrisine göre heatmap çizer.
plt.figure(figsize=(10, 6))
sns.heatmap(df.corr(), annot=True, cmap='coolwarm')
plt.title('Korelasyon Isı Haritası')
plt.show()

In [ ]:
# 57. Seaborn kütüphanesi ile stripplot çizer.
plt.figure(figsize=(8, 5))
sns.stripplot(x='sex', y='chol', data=df, jitter=True)
plt.title('Cinsiyete Göre Kolesterol (Stripplot)')
plt.show()

In [ ]:
# 58. Seaborn kütüphanesi ile swarmplot çizer.
plt.figure(figsize=(8, 5))
sns.swarmplot(x='sex', y='chol', data=df)
plt.title('Cinsiyete Göre Kolesterol (Swarmplot)')
plt.show()

In [ ]:
# 59. Keras kütüphanesini yüklü zaten
# 60. Keras kütüphanesinin versiyonunu gösterir.
import keras
print("Keras versiyonu:", keras.__version__)

Keras versiyonu: 2.13.1

In [ ]:
# 61. CSV dosyasından sadece 'age' ve 'chol' sütunlarını okur.
df_two = pd.read_csv("veri.csv", usecols=['age', 'chol'])
print(df_two.head())

In [ ]:
# 62. Toplama ve çarpma yapan modül.
def toplama(a, b):
    return a + b

def carpma(a, b):
    return a * b

In [ ]:
# 62. Jupyter Notebook'tan modülü kullanır.
from math_operations import toplama, carpma

x = 10
y = 5
print("Toplam:", toplama(x, y))
print("Çarpım:", carpma(x, y))

In [ ]:
# 63. Sweetviz kütüphanesi ile EDA (Exploratory Data Analysis) yapılır.

import sweetviz as sv
report = sv.analyze(df)
report.show_html("sweetviz_raporu.html")

In [ ]:
# 64. Python'da summarytools benzeri analiz için pandas_summary kütüphanesi kullanılır.

from pandas_summary import DataFrameSummary
dfs = DataFrameSummary(df)
print(dfs.summary())

In [ ]:
# 65. Bokeh kütüphanesi ile interaktif grafik çizilir.

from bokeh.plotting import figure, show, output_notebook
from bokeh.sampledata.iris import flowers
output_notebook()

p = figure(title="Petal Width vs Length", x_axis_label='Petal Length', y_axis_label='Petal Width')
p.circle(flowers["petal_length"], flowers["petal_width"], size=10, color="navy", alpha=0.5)
show(p)

In [ ]:
# 66. DASK ile DataFrame oluşturur ve analiz eder.

import dask.dataframe as dd
dask_df = dd.read_csv("veri.csv")
print(dask_df.head())  # İlk birkaç satırı göster

In [ ]:
# 67. PySpark kullanarak veri okuma ve gösterme.

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("VeriAnalizi").getOrCreate()
df_spark = spark.read.csv("veri.csv", header=True, inferSchema=True)
df_spark.show(5)

In [ ]:
# 68. dataprep kütüphanesi ile otomatik EDA yapılır.

from dataprep.eda import create_report
create_report(df).show_browser()

In [ ]:
# 69. Polars ile yüksek performanslı dataframe oluşturma

import polars as pl
df_polars = pl.read_csv("veri.csv")
print(df_polars.head())

In [ ]:

# 70. datacleaner ile eksik veri tahmini yapılır.

from datacleaner import autoclean
clean_df = autoclean(df)
print(clean_df.head())

In [ ]:
# 71. Data wrangling işlemi: yeni sütun oluşturma ve sütun adı değiştirme.
df['yeni_sutun'] = df['age'] * 2
df.rename(columns={'age': 'yas'}, inplace=True)
print(df.head())

In [ ]:
# 72. Data cleaning işlemi: eksik veriler doldurulur.
df.fillna(df.mean(numeric_only=True), inplace=True)

In [ ]:
# 73. Data cleansing işlemi: negatif yaşları temizleme
df = df[df['yas'] > 0]

In [ ]:
# 74. PySpark ile yaş > 50 olanları filtreleme
df_spark.filter(df_spark['age'] > 50).show()

In [ ]:
# 75. Pyhadoop örneği (not: çalışması için Hadoop ortamı gerekir)
# Sembolik örnek

import pyhdfs
fs = pyhdfs.HdfsClient(hosts='localhost:9870', user_name='hadoop')
print(fs.listdir('/'))